body.custom-background,
body:before {
  background-size: cover;
  background-position: center center !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body:before {
  @extend %hundred-width;
  @extend %left-zero;
  @extend %position-fixed;
  @extend %top-zero;

  content: '';
  height: $main-nav-height + $main-nav-top;
  z-index: 2;
}
