body.custom-background,
body:before {
  background-size: cover;
  background-position: top center !important;
}

body:before {
  @extend %hundred-width;
  @extend %left-zero;
  @extend %position-fixed;
  @extend %top-zero;

  content: '';
  height: 100px;
  z-index: 2;
}
