body {
  &.custom-background,
  &:before {
    background-attachment: fixed;
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:before {
    @extend %hundred-width;
    @extend %left-zero;
    @extend %position-fixed;
    @extend %top-zero;

    content: '';
    height: $main-nav-height + $main-nav-top;
    z-index: 2;
  }
}
