.logo {
  @extend %display-block;
  @extend %position-fixed;
  background-image: $logo-image-url;
  background-size: 100% auto;
  height: $logo-height;
  left: 50%;
  margin-left: -($logo-width/2) - 10px;
  top: $logo-top;
  width: $logo-width;
  z-index: 3;
}

.customize-support .logo {
  top: $logo-top + $wp-admin-bar-height;
}

@media #{$small-only} {
  .logo {
    width: 260px;
    height: 200px;
    margin-left: -145px;
  }

  .page .logo,
  .archive .logo,
  .post .logo,
  .single .logo {
    width: $logo-width-mobile;
    height: $logo-height-mobile;
    margin-left: -($logo-width-mobile/2) - 5px;
  }
}
