.main-view {
  padding-bottom: 60px;
  padding-top: $main-nav-height + $main-nav-top;
  z-index: 1;

  > .row {
    @extend %main-view-background;
    @extend %position-relative;
    padding: $main-view-row-padding-top 1rem 2rem;

    &.extra-padding {
      padding-top: $main-view-row-padding-top + 4rem;
    }
  }

  .view-more-tab {
    @extend %display-block;
    @extend %position-absolute;
    background-image: $tab-image-url;
    background-position: top center;
    height: $tab-height;
    left: 50%;
    margin-left: -($tab-width/2);
    opacity: $main-view-background-opacity;
    top: -$tab-height;
    width: $tab-width;
  }
}

@media #{$medium-up} {
  .main-view > .row > .middle-column {
    padding-top: $main-view-middle-row-padding-top;
  }
}
