.narrative {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
  }

  h3 {
    @extend %logan-primary-color;
    @extend %secondary-font;
    @extend %uppercase;
    font-size: 1.125rem;
    margin-bottom: 0;

    &.with-margin {
      margin-bottom: 0.5rem;
    }
  }

  p,
  li {
    font-size: 0.875rem;
  }

  .primary {
    @extend %logan-primary-color;
  }

  .call-out {
    @extend %display-block;
    @extend %narrative-box-shadow;
    @extend %secondary-font;
    background-color: $narrative-callout-background-color;
    color: $narrative-callout-color;
    font-size: 1rem;
    letter-spacing: 0.0375rem;
    margin-bottom: 1.25rem;
    padding: 1rem 1.375rem;
  }

  img {
    @extend %narrative-box-shadow;
    @extend %hundred-width;
    height: auto;
  }

  h1 img,
  h2 img {
    box-shadow: none;
    width: auto;
    max-width: 100%;
    margin-top: 0.625rem;
    margin-bottom: -0.75rem;
  }

  h2 img {
    margin-top: -0.75rem;
  }
}
