.narrative {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
  }

  h3 {
    @extend %logan-primary-color;
    @extend %secondary-font;
    @extend %uppercase;
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  p,
  li {
    font-size: 0.875rem;
  }

  .primary {
    @extend %logan-primary-color;
  }

  img {
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.30);
  }
}
