@font-face {
  font-family: 'bebas';
  src: url('../fonts/bebas___-webfont.eot');
  src: url('../fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bebas___-webfont.woff2') format('woff2'),
       url('../fonts/bebas___-webfont.woff') format('woff'),
       url('../fonts/bebas___-webfont.ttf') format('truetype'),
       url('../fonts/bebas___-webfont.svg#bebasregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$wp-admin-bar-height: 32px;

$logan-primary-color: #d12229;

$logan-default-font: 'Lato', sans-serif;
$logan-secondary-font: 'bebas', sans-serif;

$main-nav-background-color: #000;
$main-nav-height: 78px;
$main-nav-top: 85px;
$main-nav-color: #fff;

$main-view-row-padding-top: 5.5rem;
$main-view-middle-row-padding-top: 4.25rem;

$logo-image-url: image-url('logo.png');
$logo-width: 322px;
$logo-height: 248px;
$logo-top: 17px;

$main-view-background-opacity: 0.85;
$main-view-background: rgba(255, 255, 255, $main-view-background-opacity);

$tab-image-url: image-url('tab.png');
$tab-width: 140px;
$tab-height: 55px;
// $background-color: #131509;
// $navigation-color: a#989997;
// $navigation-color-dark: #707070;
// $navigation-default-hover-color: #786fb2;
// $navigation-mobile-background-color: #1a1d0f;
// $nav-toggle-color: #d8d8d8;
// $custom-font: 'Open Sans', sans-serif;
// $border-color: $navigation-color;
// $border-width: 1px;
// $border-style: solid;
// $border: $border-width $border-style $border-color;
//
// $link-color: #4e83b0;
// $modal-header-height: 50px;
// $modal-header-radius: 6px;
// $modal-background-color: #f0f0f0;
// $modal-body-padding: 2.25rem;
// $modal-narrative-background-color: #dbdbdb;
// $modal-narrative-padding-lr: 1.5rem;
// $modal-mobile-padding-lr: 1.25rem;

// $wp-admin-bar-height: 32px;
//
// $logo-width: 157px;
// $navigation-padding: 20px;
// $navigation-width: 164px; //$logo-width + ($navigation-padding*2);
//
// $mobile-lr-padding: 1.5rem;

// %background-color {
//   background-color: $background-color;
// }
//
// %navigation-color {
//   color: $navigation-color;
// }
//
// %navigation-color-dark {
//   color: $navigation-color-dark;
// }
//
// %custom-font {
//   font-family: $custom-font;
// }

%main-nav-background {
  background-color: $main-nav-background-color;
}

%main-view-background {
  background-color: $main-view-background;
}

%logan-primary-color {
  color: $logan-primary-color;
}

%uppercase {
  text-transform: uppercase;
}

%white {
  color: #fff;
}

%lighter-font {
  font-weight: lighter;
}

%default-font {
  font-family: $logan-default-font;
}

%secondary-font {
  font-family: $logan-secondary-font;
}

// %fixed-window {
//   height: 100%;
//   left: 0;
//   overflow-y: auto;
//   position: fixed;
//   top: 0;
//   width: 100%;
// }
//
// %absolute-window {
//   height: 100%;
//   left: 0;
//   position: absolute;
//   top: 0;
//   width: 100%;
// }

%hundred-width {
  width: 100%;
}

%top-zero {
  top: 0;
}

%left-zero {
  left: 0;
}

%display-block {
  display: block;
}

%display-inline-block {
  display: inline-block;
}

%display-table {
  display: table;
  width: 100%;
}

%display-table-cell {
  display: table-cell;
  vertical-align: middle;
}

%position-fixed {
  position: fixed;
}

%position-absolute {
  position: absolute;
}

%position-relative {
  position: relative;
}

%align-top {
  vertical-align: top;
}

%align-middle {
  vertical-align: middle;
}

// @mixin rotate($degrees) {
//   transform: rotate($degrees);
// }
