.social-media {
  @extend %display-block;
  padding: 0.125rem 0.25rem;
  color: #000;

  &:before {
    @extend %inline-block-vertical-align;
  }


  i {
    @extend %align-middle;
    @extend %display-inline-block;
    font-size: 2rem;
  }

  span {
    @extend %align-middle;
    @extend %display-inline-block;
    padding-left: 0.5rem;
  }
}
