.sub-nav {
  @extend %secondary-font;
  margin-left: 0;

  a {
    display: block;
  }
}

.sub-nav li {
  @extend %display-block;
  @extend %position-relative;
  font-size: 1.375rem;

  &:hover a {
    @extend %sub-nav-active-color;
  }

  &.menu-item-has-children {
    &:before {
      @extend %position-absolute;
      @include css-triangle(0.5rem, $logan-primary-color, left);
      top: 10px;
      left: -13px;
    }

    &:hover:before {
      @include css-triangle(0.5rem, $sub-nav-active-color, left);
    }
  }
}

//FireFox hack... ew
@-moz-document url-prefix() {
  .sub-nav li.menu-item-has-children:before {
    top: 6px;
  }
}

.sub-nav li.current-menu-item,
.sub-nav li.current-menu-parent {

  &.menu-item-has-children:before {
    @include css-triangle(0.5rem, $sub-nav-active-color, top);
    top: 14px;
    left: -20px;
  }

  a {
    @extend %sub-nav-active-color;
  }

  .sub-menu {
    @extend %display-block;
  }
}

.sub-nav .sub-menu {
  @extend %display-none;
  @extend %default-font;
  margin-bottom: 0.5rem;
  // height: 0;
  // overflow: hidden;
  // transition: height 3s;
  // -webkit-transition: height 3s;

  &.open {
    // display: block;
    // height: 100%;
  }

  li {
    @extend %display-list-item;
    list-style-type: disc;
    font-size: 1.125rem;

    &.current-menu-item,
    &.current-menu-item a {
      @extend %logan-primary-color;
    }
  }

  a {
    cursor: default;
  }
}

.sub-nav.single {
  li {
    @extend %display-none;
  }

  li.current-menu-item,
  li.current-menu-parent {
    @extend %display-block;
  }

  .sub-menu li {
    @extend %display-list-item;
  }

  a,
  li {
    color: #000 !important;
  }
}

.back-to-products {
  @extend %display-block;
  @extend %position-relative;
  padding: 0 0 1rem 1.75rem;
  font-size: 1.25rem;

  &:before {
    @extend %position-absolute;
    @include css-triangle(0.75rem, $sub-nav-active-color, right);
    top: 0.2rem;
    left: -0.5rem;
  }

  &:hover:before {
    color: $logan-primary-color !important;
  }
}

@media #{$small-only} {
  .sub-nav {

    > li {
      font-size: 1.75rem;
      border-bottom: 1px solid #000;
    }

    > li:first-child {
      border-top: 1px solid #000;
    }

    > li.menu-item-has-children:before {
      left: auto;
      right: 0;
      top: 16px;
      @include css-triangle(0.875rem, $logan-primary-color, left);
    }

    > li.menu-item-has-children:hover:before {
      @include css-triangle(0.875rem, $sub-nav-active-color, left);
    }

    > li > a {
      padding: 0.5rem 0;
    }
  }

  .sub-nav.single {
    > li {
      border: 0;
    }

    > li > a {
      color: $logan-primary-color;
      font-size: 1.875rem;

      &:hover {
        color: #000;
      }
    }

    > li:before {
      display: none !important;
    }

    .sub-menu li {
      font-size: 1.313rem;
    }
  }
}
