.sub-nav {
  @extend %secondary-font;
  margin-left: 0;
}

.sub-nav li {
  @extend %display-block;
  font-size: 1.375rem;

  &:hover a {
    @extend %sub-nav-active-color;
  }

  &.menu-item-has-children {
    &:before {
      @extend %position-absolute;
      @include css-triangle(0.5rem, $logan-primary-color, left);
      top: 10px;
      left: 12px;
    }

    &:hover:before {
      @include css-triangle(0.5rem, $sub-nav-active-color, left);
    }
  }
}

.sub-nav li.current-menu-item,
.sub-nav li.current-menu-parent {

  &.menu-item-has-children:before {
    @include css-triangle(0.5rem, $sub-nav-active-color, top);
    top: 14px;
    left: 4px;
  }

  a {
    @extend %sub-nav-active-color;
  }

  .sub-menu {
    @extend %display-block;
  }
}

.sub-nav .sub-menu {
  @extend %display-none;
  @extend %default-font;

  li {
    display: list-item;
    list-style-type: disc;
    font-size: 1.25rem;

    &.current-menu-item,
    &.current-menu-item a {
      @extend %logan-primary-color;
    }
  }
}

.sub-nav.single {
  li {
    @extend %display-none;
  }

  li.current-menu-item,
  li.current-menu-parent {
    @extend %display-block;
  }
}
